{% extends 'ideas/base.html' %}
{% load static %}
{% block content %}
<div class="custom-header text-center text-white">
    <div class="container" style="height: 100%;">
        <div class="row h-100 align-items-center">
            <div class="col-lg-6 mx-auto">
                <h1 class="mb-2">Welcome back, {{ user.first_name }}!</h1>
                <div class="container">
                    <p>Choose your domain of interest</p>
                    {% for tag in tags %} <a href="{% url 'tag-home' tag.pk %}"
                        class="btn btn-primary btn-l mb-2 ml-1 rounded-pill">#{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}