{% extends 'ideas/base.html' %}
{% load static %}
{% block content %}
<header class="custom-header text-center text-white">
    <div class="container" style="height: 100vh;">
        <div class="row align-items-center h-100">
            <div class="col-lg-6 mx-auto">
                <h1 class="mb-3">My Ideas</h1>
                <div class="container h-100">
                    {% if ideas %}
                    {% for idea in ideas %}
                    <a class="btn btn-primary btn-l m-1 rounded-pill"
                            href="{% url 'idea-update' idea.id %}">{{ idea.title }}</a>
                    {% endfor %}
                    {% else %}
                    <p>No ideas found.<a href="{% url 'idea-create' %}"
                            class="custom-links font-weight-bold ml-2">Create an Idea.</a>
                    </p>
                    {% endif %}
                {% if messages %}
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }} mt-1"{% endif %}>{{ message }}</p>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock content %}