{% extends 'ideas/base.html' %}
{% load static %}
{% block content %}
<header class="custom-header text-center text-white">
    <div class="container" style="height: 100vh;">
        <div class="row align-items-center h-100">
            <div class="col-lg-6 mx-auto">
                <div class="container h-100">
                    <h1 class="mb-3">Create New Idea</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <!--trying to display the form-->
                        <div class="form-group">
                            {{ form }}
                        </div>
                        <button type="submit"
                            class="btn btn-primary btn-l rounded-pill mb-2 font-weight-bold">CREATE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock content %}