{% extends "ideas/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid p-0">
  <!-- <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container my-auto" style="height: 100%;">
        <h1 class="masthead-heading mb-0">Ideate.</h1>
        <p class="masthead-body mb-0 font-weight-bold">verb | /ˈʌɪdɪeɪt/</p>
        <p class="masthead-body mb-5 font-italic">form an idea of, imagine or conceive.</p>
        <a href="#about" class="btn btn-primary btn-xl mt-5 rounded-pill">Learn More</a>
      </div>
    </div>
  </header> -->
  <header class="custom-header text-center text-white">
    <div class="container" style="height: 100vh;">
      <div class="row h-100 align-items-center">
        <div class="col-lg-6 mx-auto">
          <h1 class="main-heading mb-0">Ideate.</h1>
          <p class="mb-0 font-weight-bold">verb | /ˈʌɪdɪeɪt/</p>
          <p class="mb-5 font-italic">form an idea of, imagine or conceive.</p>
          <a href="#about" class="btn btn-primary btn-xl mt-5 rounded-pill">Learn More</a>
        </div>
      </div>
    </div>
  </header>
  <hr class="m-0">
  <section id="about" class="custom-section">
    <div class="container my-auto" style="height: 100%;">
      <div class="row h-100 align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="">
            <img class="img-fluid rounded-circle shadow" src="{% static "ideas/img/computer.png" %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <h2 class="display-4">Inspiration is just a click away...</h2>
          <p>Browse through thousands of unique ideas in software development, story writing, art, music, photography
            and
            more.</p>
        </div>
      </div>
    </div>
  </section>
  <hr class="m-0">
  <section class="custom-section">
    <div class="container my-auto" style="height: 100%;">
      <div class="row h-100 align-items-center">
        <div class="col-lg-6 order-lg-1">
          <div class="">
            <img class="img-fluid rounded-circle shadow" src="{% static "ideas/img/bulb.png" %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-2">
          <h2 class="display-4">Where creativity runs free...</h2>
          <p>Explore your creative side by posting noteworthy content to motivate thousands of users from across the
            globe.</p>
        </div>
      </div>
    </div>
  </section>
  <hr class="m-0">
  <section class="custom-section">
    <div class="container my-auto" style="height: 100%;">
      <div class="row h-100 align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="">
            <img class="img-fluid rounded-circle shadow" src="{% static "ideas/img/photography.png" %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <h2 class="display-4">Say goodbye to long hours of detailed research...</h2>
          <p>Get started on your project instantly with curated ideas from our creative community.</p>
        </div>
      </div>
    </div>
  </section>
  <hr class="m-0">
  <section class="custom-section">
    <div class="container my-auto" style="height: 100%;">
      <div class="row h-100 align-items-center">
        <div class="col-lg-6 order-lg-1">
          <div class="">
            <img class="img-fluid rounded-circle shadow" src="{% static "ideas/img/logo.png" %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-2">
          <h2 class="display-4">All that and much much more...</h2>
          <a href="{% url 'register' %}" class="btn btn-secondary btn-l mb-2 ml-1 rounded-pill">Register Now</a>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content%}
{% block extra_js %}
<script>
  $("a[href^='#']").click(function (e) {
    e.preventDefault();

    var position = $($(this).attr("href")).offset().top;

    $("body, html").animate({
      scrollTop: position
    } /* speed */);
  });
</script>
{% endblock extra_js %}