{% extends "ideas/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid p-0">
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container my-auto" style="height: 100%;">
        <h1 class="masthead-heading mb-0">Ideate.</h1>
        <p class="masthead-body mb-0 font-weight-bold">verb | /ˈʌɪdɪeɪt/</p>
        <p class="masthead-body mb-5 font-italic">form an idea of, imagine or conceive.</p>
        <a href="#" class="btn btn-primary btn-xl mt-5 rounded-pill">Learn More</a>
      </div>
    </div>
  </header>
  <hr class="m-0">
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static "ideas/img/keanu.jpg" %}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Where creativity runs free...</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr class="m-0">
</div>
{% endblock content%}