{% extends 'ideas/base.html' %}
{% load static %}
{% block content %}
<header class="custom-header text-center text-white">
    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-lg mx-auto">
                <h1 class="mb-2">Ideas for #{{ tag.name }}</h1>
                {% if ideas %}
                <div class="card-columns">
                    {% for idea in ideas %}
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">{{ idea.title }}</h6>
                            <p class="card-text">{{ idea.description }}</p>
                            <p class="card-text"><small>- {{ idea.author }}</small></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>No ideas found.</p>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endblock content %}
<header class="custom-header text-center text-white">
    <div class="container" style="min-height: 100vh;">
        <div class="row h-100 align-items-center">
            <div class="col-lg mx-auto">
                <h1 class="mb-3">Ideas for #{{ tag.name }}</h1>
                {% if ideas %}
                <div class="card-columns">
                    {% for idea in ideas %}
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">{{ idea.title }}</h6>
                            <p class="card-text">{{ idea.description }}</p>
                            <p class="card-text"><small>- {{ idea.author }}</small></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>No ideas found.</p>
                {% endif %}
            </div>
        </div>
    </div>
</header>