{% extends 'ideas/base.html' %}
{% load static %}
{% block content %}
<div class="custom-header text-center text-white">
    <div class="container" style="height: 100%;">
        <div class="row align-items-center h-100">
            <div class="col-lg-6 mx-auto">
                <h1 class="mb-3">Log In</h1>
                <form method="POST">
                    {% csrf_token %}
                    <!--trying to display the form-->
                    <div class="form-group">
                        {{ form }}
                    </div>
                    <button type="submit"
                        class="btn btn-primary btn-l rounded-pill mb-2 font-weight-bold">LOGIN</button>
                    <p>Don't have an account?<a href="{% url 'register' %}"
                            class="custom-links font-weight-bold ml-2">Register
                            Now</a>
                    </p>
                </form>
                {% if messages %}
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}